nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid gray;
}

.brand,
.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand img {
  width: 200px;
  margin-right: 0.6em;
}

.links li {
  margin-right: 1em;
  list-style: none;
}

.links a {
  padding: 0.1em 0.3em;
}

#add a {
  color: #22b9ff;
}

#add a:hover {
  color: #1985b8;
}
