* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: var(--fontColor);
  transition: 0.2s;
  border: none;
}

:root {
  --purple: #5e17eb;
  --orange: #fa6101;
  --lightblue: #00f5ff;
  --blue: #22b9ff;
  --pink: #f80068;
  --fontColor: #dadada;
  --black: #151515;
  --blackShadow: #252525;
}

a {
  text-decoration: none;
  color: var(--fontColor);
}

a:hover {
  color: var(--purple);
}

input[type="text"],
textarea {
  border: 1px solid var(--fontColor);
  border-radius: 1px;
}

/* FORM */
.container-form {
  width: 800px;
  height: 400px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 20px 0;
  border: 3px solid rgba(68, 68, 68, 0.2);
}

.container-form:hover {
  box-shadow: 0 0 30px rgba(94, 23, 235, 0.2);
}

.container-form .form-img {
  width: 350px;
}

.form-img img {
  background-size: cover;
  width: 100%;
}

.container-form form {
  width: 450px;
  height: 400px;
  padding: 15px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.form-grup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form-grup label {
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 0.4em;
}

.form-grup input,
.form-grup textarea {
  padding: 0.4em;
  border: 2px solid var(--blackShadow);
  background-color: transparent;
  font-size: 1em;
  border-radius: 5px;
  outline: none;
}
.form-grup input:focus,
.form-grup textarea:focus {
  padding: 0.4em;
  border: 2px solid var(--purple);
}

input[type="submit"] {
  background-color: var(--fontColor);
  padding: 0.6em 1em;
  border: 2px solid transparent;
  border-radius: 10px;
  color: var(--black);
  font-weight: bold;
  font-size: 1.1em;
  cursor: pointer;
  transition: 0.4s;
}

input[type="submit"]:hover {
  color: var(--purple);
  border: 2px solid var(--purple);
  background-color: transparent;
}

.title-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav,
footer,
.title-form,
.container-home,
.container-about {
  background-color: var(--black);
}

/* MEDIA QUERIES */
@media screen and (max-width: 800px) {
  .container-form .form-img {
    display: none;
  }

  .container-form {
    width: 380px;
  }
}
