* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #444;
}

a {
  text-decoration: none;
  color: #444;
  transition: 0.4s;
}

a:hover {
  color: #5e17eb;
}
